version: 2

workflows:
  test-and-deploy:
    jobs:
      - test-and-lint
      - build-and-push:
          requires:
            - test-and-lint

jobs:
  test-and-lint:
    docker:
      - image: cimg/python:3.10.6
    steps:
      - checkout
      - run:
          name: Install requirements
          command:  |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - run:
          name: Running tests
          command:  |
            . venv/bin/activate
            python3 manage.py test
      - run:
          name: Running linting
          command: flake8

  build-and-push:
    docker:
      - image: cimg/python:3.10.6
    steps:
      - checkout
      - setup_remote_docker:
      - run:
          name: Build Docker image
          command: docker build -t ocl:$CIRCLE_SHA1 .
      - run:
          name: Push Docker image
          command:  |
            docker tag ocl:$CIRCLE_SHA1:latest $USERNAME/ocl:latest
            docker push $USERNAME/ocl:latest
