version: 2.1

orbs:
  python: circleci/python@2.1.1
  heroku: circleci/heroku@2.0.0

workflows:
  test-and-deploy:
    jobs:
      - test-and-lint
      - build-and-push:
          requires:
            - test-and-lint
      - deploy-on-heroku:
          requires:
            - build-and-push


jobs:
  test-and-lint:
    docker:
      - image: cimg/python:3.10.6
    steps:
      - checkout
      - run:
          name: Install requirements
          command:  |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - run:
          name: Running tests
          command:  |
            . venv/bin/activate
            python3 manage.py test
      - run:
          name: Running linting
          command: |
            . venv/bin/activate
            python -m flake8

  build-and-push:
    docker:
      - image: cimg/python:3.10.6

    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image
          command: docker build -t $DOCKER_USER/ocl:$CIRCLE_SHA1 -f Docker/local/django/Dockerfile .
      - run:
          name: Build Docker image arm
          command: docker buildx build --platform linux/arm64/v8 -t $DOCKER_USER/ocl-arm:$CIRCLE_SHA1 -f Docker/local/django/Dockerfile .
      - run:
          name: Push Docker image
          command:  |
            docker login -u "$DOCKER_USER" -p "$DOCKER_PASSWORD"
            docker tag $DOCKER_USER/ocl:$CIRCLE_SHA1 $DOCKER_USER/ocl:latest
            docker tag $DOCKER_USER/ocl-arm:$CIRCLE_SHA1 $DOCKER_USER/ocl-arm:latest
            docker push $DOCKER_USER/ocl:$CIRCLE_SHA1
            docker push $DOCKER_USER/ocl:latest
            docker push $DOCKER_USER/ocl-arm:$CIRCLE_SHA1
            docker push $DOCKER_USER/ocl-arm:latest

  deploy-on-heroku:
    machine: true
    steps:
      - checkout
      - run:
          name: Setup Heroku
          command: curl https://cli-assets.heroku.com/install.sh | sh
      - run:
          name: Push to heroku
          command:  |
            HEROKU_API_KEY=${HEROKU_TOKEN} heroku container:login
            HEROKU_API_KEY=${HEROKU_TOKEN} heroku config:set DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY} -a ${HEROKU_APP_NAME}
            HEROKU_API_KEY=${HEROKU_TOKEN} heroku config:set SENTRY_DSN_KEY=${SENTRY_DSN_KEY} -a ${HEROKU_APP_NAME}
            HEROKU_API_KEY=${HEROKU_TOKEN} heroku container:push -a ${HEROKU_APP_NAME} web
            HEROKU_API_KEY=${HEROKU_TOKEN} heroku container:release -a ${HEROKU_APP_NAME} web
