version: 2.1

orbs:
  python: circleci/python@2.1.1
  heroku: circleci/heroku@2.0.0

workflows:
  test-and-deploy:
    jobs:
      - test-and-lint
      - build-and-push:
          requires:
            - test-and-lint
      - deploy-on-heroku:
          requires:
            - build-and-push

jobs:
  test-and-lint:
    docker:
      - image: cimg/python:3.10.6
    steps:
      - checkout
      - run:
          name: Install requirements
          command:  |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - run:
          name: Running tests
          command:  |
            . venv/bin/activate
            python3 manage.py test
      - run:
          name: Running linting
          command: |
            . venv/bin/activate
            python -m flake8

  build-and-push:
    docker:
      - image: cimg/python:3.10.6

    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image
          command: docker build -t ocl .
      - run:
          name: Push Docker image
          command:  |
            docker login -u "$DOCKER_USER" -p "$DOCKER_PASSWORD"
            docker tag ocl:latest $USERNAME/ocl:$CIRCLE_SHA1
            docker push $USERNAME/ocl:$CIRCLE_SHA1

  deploy-on-heroku:
    machine: true
    steps:
      - checkout
      - run:
          name: Deploy image on heroku
          command:  |
              sudo curl https://cli-assets.heroku.com/install.sh | sh
              HEROKU_API_KEY=${HEROKU_TOKEN} heroku container:login
              docker tag $USERNAME/ocl:$CIRCLE_SHA1 registry.heroku.com/testocl/web
              docker push registry.heroku.com/ocltest/web
              HEROKU_API_KEY=${HEROKU_TOKEN} heroku container:release web
